
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#about, #projects, #contact {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

.project {
    margin: 15px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.yellow {
    color: blueviolet;
}
.img{
    height: 200px;
    border-radius: 50%;
}
#about{
    background-color: #333;
}
#projects{
    background-color: #333;
}
#contact{
    background-color: #333;
}
#yellow{
    color:gray;
}
.about{
    color: gray;
}
.contact{
    color: gray;
}
h1{
    justify-content: center;
}
#home{
    background-color:#333;
}
body{
    @media (min-width: 319px) and (max-width: 480px) {
    
    }

    @media (min-width: 481px) and (max-width: 1200px) {

    }

    @media (min-width: 1201px) and (max-width: 1600px) {
      
    }

    @media (min-width: 1601px) {
}
}
  
      
        
      


